.body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}


.container {
  /* background-color: black;*/
   display: flex;
   padding: 0;
   height: 400px;
   max-width: 100%;
   width: 800px;
   margin: auto;
}